.turquoiseDiv {
    border: 20px black;
    background: darkturquoise;
    color: white;
    text-align: center;
    margin: .1em;
}

.smallFont {
    font-size: 0.75em;
    line-height: 0.75em;
}

.mainViewContainer {
    background: darkgray;
}

.stepDetail {
    background: white;
}
